doctype html
html.wf-fontawesome-n4-active.wf-active(lang="vi")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title
      | Kết Nối Đam Mê
      | Cu.BaQ
    // ================= Page description ==================
    meta(name="description" content="aa")
    // ================= Meta ==================
    meta(name="keywords" content="Giới thiệu")
    link(rel="canonical" href="#")
    meta(name="revisit-after" content="1 days")
    meta(name="robots" content="noodp,index,follow")
    // ================= Favicon ==================
    // <link rel="icon" href="https://bizweb.dktcdn.net/100/367/008/themes/737167/assets/favicon.png?1593482256319" type="image/x-icon">
    // ================= Google Fonts ==================
    // Facebook Open Graph meta tags
    meta(property="og:type" content="website")
    meta(property="og:title" content="Giới thiệu")
    meta(property="og:description" content="aa")
    meta(property="og:url" content="#")
    meta(property="og:site_name" content="Template Usmart")
    script(type="text/javascript" async="" src="/style/productreviews.min.js.download")
    script(src="/style/webfont.js.download" type="text/javascript" async="")
    script(src="/style/webfont.js.download" type="text/javascript" async="")
    script(type="text/javascript" async="" src="/style/367008.js.download")
    script(type="application/ld+json").
      {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement":
      [
      {
      "@type": "ListItem",
      "position": 1,
      "item":
      {
      "@id": "https://template-usmart.mysapo.net",
      "name": "Trang chủ"
      }
      },
      {
      "@type": "ListItem",
      "position": 2,
      "item":
      {
      "@id": "https://template-usmart.mysapo.net/gioi-thieu",
      "name": "Giới thiệu"
      }
      }
      ]
      }
    // Plugin CSS
    script.
      var template = 'page';
    // Plugin CSS
    link(href="/style/plugin.scss.css" rel="stylesheet" type="text/css")
    // Build Main CSS
    link(href="/style/base.scss.css" rel="stylesheet" type="text/css")
    link(href="/style/style.scss.css" rel="stylesheet" type="text/css")
    link(href="/style/module.scss.css" rel="stylesheet" type="text/css")
    link(href="/style/responsive.scss.css" rel="stylesheet" type="text/css")
    // Bizweb javascript customer
    script.
      var Bizweb = Bizweb || {};
      Bizweb.store = 'template-usmart.mysapo.net';
      Bizweb.id = 367008;
      Bizweb.theme = { 'id': 737167, 'name': 'USmart 30062020 Footer', 'role': 'main' };
      Bizweb.template = 'page';
    script.
      (function () {
      function asyncLoad() {
      var urls = ["//productreviews.sapoapps.vn/assets/js/productreviews.min.js?store=template-usmart.mysapo.net"];
      for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
      }
      };
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
      })();
    script(type="text/javascript").
      (function () {
      var log = document.createElement('script'); log.type = 'text/javascript';
      log.async = true;
      log.src = '//stats.bizweb.vn/delivery/367008.js?lang=vi';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(log, s);
      })();
    script.
      window.BizwebAnalytics = window.BizwebAnalytics || {};
      window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
      window.BizwebAnalytics.meta.currency = 'VND';
      var meta = {};
      for (var attr in meta) {
      window.BizwebAnalytics.meta[attr] = meta[attr];
      }
    link(rel="stylesheet" href="/style/all.css" media="all")
    link(rel="stylesheet" href="/style/all.css" media="all")
    link(rel="stylesheet" href="/style/ekko-lightbox.min.css" type="text/css")
    style(type="text/css").
      .fancybox-margin{margin-right:0px;}
    link(rel="stylesheet" type="text/css" href="/style/bpr.min.css" media="all")
    link(rel="stylesheet" type="text/css" href="/style/productReviews.min.css" media="all")
    script(type="text/javascript" src="/style/vi.min.js.download")
  body
    .opacity_menu
    // Main content
    // Menu mobile
    #mySidenav.sidenav.menu_mobile.hidden-md.hidden-lg
      .top_menu_mobile
        a.logo-wrapper.close_menu(href="#")
          img(src="/images/logo.png" alt="logo Template cubaQ")
      .content_memu_mb
        .link_list_mobile
          ul.ct-mobile.hidden
          ul.ct-mobile
            li.level0.level-top.parent.level_ico
              a(href="/") Trang chủ
            li.level0.level-top.parent.level_ico
              a(href="/gioithieu") Giới thiệu
            li.level0.level-top.parent.level_ico
              a(href="#") Thầy Trò
              i.ti-plus.hide_close
              ul.level0.sub-menu(style="display:none;")
                li.level1
                  a(href="/lichhen")
                    span Đăng Kí Gặp Mặt 
                li.level1
                  a(href="/thaytro")
                    span Học sinh hỏi thầy trả lời
            li.level0.level-top.parent.level_ico
              a(href="/ketnoidamme") Kết Nối Đam Mê
            li.level0.level-top.parent.level_ico
              a(href="/khoanhkhacdangnho") Khoảng khắc đáng nhớ
            li.level0.level-top.parent.level_ico
              a(href="/taikhoan") Tài Khoản
    // End
    // HEADER NEW
    header.header.header_s
      .mid-header
        .container
          .row
            .content_header
              .header-main
                .col-lg-3.col-md-3.center_logo
                  .logo.logo_centers
                    a.logo-wrapper(href="/")
                      img(src="/images/logo.png" alt="logo Template Cu.BaQ")
                .col-lg-9.col-md-9
                  .topbar_header.f-right
                    ul.menu_list
                      li.li_menu
                        a.btn.btn-extra.btn_lam(href="/dangkyyeucau" title="Đăng ký yêu cầu") Đăng ký yêu cầu
                      li.li_menu
                        a.btn.btn-primary.btn_thue(href="/dangxuat" title="dang xuat") Đăng Xuất
                      li.li_menu
                        img(src="/images/phone_header.png" alt="Template Usmart")
                        a.a_topright(href="tel:0966315546") 0966315546
        .menu_search_mobi.hidden-md.hidden-lg
          .menu-bar-h.nav-mobile-button.hidden-md.hidden-lg
            i.fas.fa-bars
          .search_mobile.showsearchfromtop.hidden-md.hidden-lg
            .search_button_mobile
              button.btn.icon-fallback-text
                span.fas.fa-search
          .searchboxlager.hidden-lg
            .searchfromtop
              form(action="" method="get" autocomplete="off")
                input#search.form-control(type="text" maxlength="70" name="query" placeholder="Nhập từ khóa tìm kiếm và ấn enter ...")
        .wrap_main.hidden-xs.hidden-sm
          .container
            .row
              .col-lg-10.col-md-10.col-sm-12.col-xs-12
                .bg-header-nav.hidden-xs.hidden-sm
                  div
                    .row.row-noGutter-2
                      nav.header-nav
                        ul.item_big
                          li.nav-item
                            a.a-img(href="/")
                              span Trang chủ
                          li.nav-item.active
                            a.a-img(href="/gioithieu")
                              span Giới thiệu
                          li.nav-item
                            a.a-img(href="")
                              span Thầy Trò
                              i.fa.fa-caret-down
                            ul.item_small.hidden-sm.hidden-xs
                              li
                                a(href="/dangkylichhen" title="") Đăng ký gặp mặt
                              li
                                a(href="/lichhen" title="") lịch hẹn 
                              li
                                a(href="/thaytro" title="") Học sinh hỏi thầy trả lời 
                          li.nav-item
                            a.a-img(href="/ketnoidamme")
                              span Kết Nối Đam Mê
                          li.nav-item
                            a.a-img(href="/khoanhkhacdangnho")
                              span Khoảng Khắc Đáng Nhớ
                          li.nav-item
                            a.a-img(href="/taikhoan")
                              span Tài Khoản
              .col-lg-2.col-md-2.col-sm-12.col-xs-12
                .header_search.header_searchs.search_new.hidden-sm.hidden-xs
                  form.input-group.search-bar(action="#" method="get" role="search")
                    input(type="hidden" name="type" value="product")
                    input.input-group-field.st-default-search-input.search-text(type="search" name="query" value="" placeholder="Tìm kiếm")
                    span.input-group-btn
                      button.btn.icon-fallback-text
                        span.fas.fa-search
    // Bizweb javascript
    script(src="/style/option-selectors.js.download" type="text/javascript")
    script(src="/style/api.jquery.js.download" type="text/javascript")
    .breadcrumb_background
      .title_full
        .container.a-center
          p.title_page Kết Nối Đam Mê
    
    section.product.f-left.w_100(itemscope="" itemtype="https://schema.org/Product")
      .details-product.wrap_background.padding-top-20
        .container
          .row
            .product-detail-left.product-images.col-xs-12.col-sm-6.col-md-6.col-lg-6
              .col_large_default.large-image
                a(href="images/anhnhac.jpg" data-rel="prettyPhoto[product-gallery]")
                  .zoomWrapper(style="height:398px;width:555px;")
                    .zoomWrapper(style="height:398px;width:555px;")
                      img#img_01.checkurl.img-responsive(src="/images/anhnhac.jpg"  style="position: absolute;")
                .hidden
                  .item
                    a(href="https://bizweb.dktcdn.net/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237" data-image="https://bizweb.dktcdn.net/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237" data-zoom-image="https://bizweb.dktcdn.net/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237" data-rel="prettyPhoto[product-gallery]")
                  .item
                    a(href="https://bizweb.dktcdn.net/100/367/008/products/18.png?v=1569547428090" data-image="https://bizweb.dktcdn.net/100/367/008/products/18.png?v=1569547428090" data-zoom-image="https://bizweb.dktcdn.net/100/367/008/products/18.png?v=1569547428090" data-rel="prettyPhoto[product-gallery]")
              #gallery_02.owl-carousel.owl-theme.thumbnail-product.thumb_product_details.not-dqowl.owl-loaded.owl-drag(data-loop="false" data-lg-items="3" data-md-items="3" data-sm-items="3" data-xs-items="3" data-xxs-items="3")
                .owl-stage-outer.owl-height(style="height: 133px;")
                  .owl-stage(style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 424px;")
                    .owl-item.active(style="width: 131.25px; margin-right: 10px;")
                      .item
                        a(href="javascript:void(0)" data-image="https://bizweb.dktcdn.net/100/367/008/products/16-a043d6f0-fc63-4d56-bf05-fa528e7f8a1f.png?v=1569547426333" data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/16-a043d6f0-fc63-4d56-bf05-fa528e7f8a1f.png?v=1569547426333")
                          img(data-img="//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/16-a043d6f0-fc63-4d56-bf05-fa528e7f8a1f.png?v=1569547426333" src="/images/anhnhac.jpg" data-lazyload="//bizweb.dktcdn.net/thumb/compact/100/367/008/products/16-a043d6f0-fc63-4d56-bf05-fa528e7f8a1f.png?v=1569547426333" alt="Vật lý lớp 11")
                    .owl-item.active(style="width: 131.25px; margin-right: 10px;")
                      .item
                        a(href="javascript:void(0)" data-image="https://bizweb.dktcdn.net/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237" data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237")
                          img(data-img="//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237" src="images/anhnhac.jpg" data-lazyload="//bizweb.dktcdn.net/thumb/compact/100/367/008/products/17-d1844f44-ee0a-473e-8010-54b8b674605d.png?v=1569547427237" alt="Vật lý lớp 11")
                    .owl-item.active(style="width: 131.25px; margin-right: 10px;")
                      .item
                        a(href="javascript:void(0)" data-image="https://bizweb.dktcdn.net/100/367/008/products/18.png?v=1569547428090" data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/18.png?v=1569547428090")
                          img(data-img="//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/18.png?v=1569547428090" src="images/anhnhac.jpg" data-lazyload="//bizweb.dktcdn.net/thumb/compact/100/367/008/products/18.png?v=1569547428090" alt="Vật lý lớp 11")
                .owl-nav.disabled
                  .owl-prev.disabled prev
                  .owl-next.disabled next
                .owl-dots.disabled
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.details-pro
              h1.title-product Kết Nối Đam Mê
            each ctproduct in ctproducts
              .fw.w_100(itemprop="offers" itemscope="" itemtype="https://schema.org/Offer")
                .reviews_details_product.first_status
                  .bizweb-product-reviews-badge(data-id="15891413")
                    .bizweb-product-reviews-star(data-score="0" data-number="5" title="Not rated yet!" style="color: rgb(255, 190, 0);")
                      i.star-off-png(data-alt="1" title="Not rated yet!")
                      i.star-off-png(data-alt="2" title="Not rated yet!")
                      i.star-off-png(data-alt="3" title="Not rated yet!")
                      i.star-off-png(data-alt="4" title="Not rated yet!")
                      i.star-off-png(data-alt="5" title="Not rated yet!")
                      input(name="score" type="hidden" readonly="")
                    div
                      img(src="images/user.png" width="18" height="17")
                .group-status
                  span.first_status
                    | Học Sinh: 
                    span.status_name Đặng Quốc Bảo
                .price-box
                  .special-price
                    span.price.product-price= ctproduct.tieude
              .product-summary.product_description.margin-bottom-0
                .rte.description= ctproduct.ghichu
              .product-summary.product_description.margin-bottom-0
                .rte.description= ctproduct.noidung
              .form-product.col-sm-12
                .button_actions.clearfix
                        .btn.btn_base.btn_thue
                          span.text_11 Trò chuyện
                        button.btn.btn_base.btn_add_cart.btn-carts.add_to_carts.btn_thue.hidden
                          span.text_1 Trò chuyện
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .product-tab.e-tabs
              ul.tabs.tabs-title.clearfix
                li.tab-link(data-tab="tab-3")
                  h3
                    span Đánh giá chi tiết
              
    footer.footer
      .container
        .row
          .col-lg-12.col-md-12
            .wp_footer
              .new-letter.a-center
                .col-lg-12.col-md-12.padding_
                  .letter-left.heading
                    h3 Nhập email
                    span Để nhận tin tức mới của chúng tôi
                  form#mc-embedded-subscribe-form(action="#" method="post" name="mc-embedded-subscribe-form" target="_blank")
                    .input-group
                      input#mail.form-control(type="email" autocomplete="off" value="" placeholder="Nhập email của bạn" name="EMAIL")
                      span.input-group-btn
                        button#subscribe.btn.btn-primary.button_gradient(name="subscribe" type="submit" title="Gửi ngay") Gửi ngay
              .mid-footer
                .col-lg-1.hidden-md.hidden-sm.hidden-xs
                .col-xs-12.col-sm-12.col-md-6.col-lg-4
                  .widget_left.widget_first_childs
                    .widget-ft-top
                      .hotline_footer
                        .logo_footer
                          a.logo-wrapper(href="#")
                            img(src="images/logo.png" alt="logo Template Usmart")
                        .hotline_footer
                          ul.contact.padding-0
                            li.li_footer_h
                              i.fas.fa-map-marker-alt
                              span.txt_content_childs
                                | Trường THPT Đồng Lộc
                            li.li_footer_h
                              span.txt_content_childs
                                i.fas.fa-phone
                                a(href="tel:0966315546") 0966315546
                            li.li_footer_h
                              span.txt_content_childs
                                i.fas.fa-envelope-open
                                a(href="mailto:awesome160916@gmail.com") Quocbaoa2k41@gmail.com
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .row
                    .widget_right
                      .col-xs-12.col-sm-6.col-md-6.col-lg-6
                        .widget-ft.first
                          h4.title-menu
                            a
                              | Dịch vụ của chúng tôi
                          div
                            ul.list-menu
                              li.li_menu
                                a(href="#") Trang chủ
                              li.li_menu
                                a(href="#") Giới thiệu
                              li.li_menu
                                a(href="#") Thầy - Trò
                              li.li_menu
                                a(href="#") Kết Nối Đam Mê
                              li.li_menu
                                a(href="#") Khoảng Khắc Đáng Nhớ
                              li.li_menu
                                a(href="/taikhoan") Tài Khoản
                      .col-xs-12.col-sm-6.col-md-6.col-lg-6
                        .widget-ft
                          h4.title-menu
                            a
                              | Về chúng tôi
                          div
                            ul.list-menu
                              li.li_menu
                                a(href="#") Trang chủ
                              li.li_menu
                                a(href="#") Giới thiệu
                              li.li_menu
                                a(href="#") Thầy - Trò
                              li.li_menu
                                a(href="#") Kết Nối Đam Mê
                              li.li_menu
                                a(href="#") Khoảng Khắc Đáng Nhớ
                              li.li_menu
                                a(href="/taikhoan") Tài Khoản
                .col-lg-1.hidden-md.hidden-sm.hidden-xs
      .row
        .container
          .bg-footer-bottom.copyright.col-lg-12.col-md-12.col-sm-12.col-xs-12
            .inner
              #copyright.fot_copyright.a-left
                span.wsp
                  | © Bản quyền thuộc về 
                  b Đặng Quốc Bảo
                  span.hidden-xs  | 
                  span.mobile
                    | Cựu học sinh 
                    a(href="#" rel="nofollow" title="Sapo" target="_blank") THPT Đồng Lộc
              a#back-to-top.backtop(href="#" title="Lên đầu trang")
                | Lên đầu trang 
                i.fas.fa-chevron-up
    // Plugin JS
    script(src="style/plugin.js.download" type="text/javascript")
    script(src="style/appear.js.download" type="text/javascript")
    // Main JS
    script(src="style/main.js.download" type="text/javascript")
    // Product detail JS,CSS
    link(href="style/lightbox.css" rel="stylesheet" type="text/css")
    script(src="style/jquery.elevatezoom308.min.js.download" type="text/javascript")
    script(src="style/jquery.prettyphoto.min005e.js.download" type="text/javascript")
    script(src="style/jquery.prettyphoto.init.min367a.js.download" type="text/javascript")
    .form_lam
      span.closed_modal
        i.fas.fa-times
      form#contact1(accept-charset="UTF-8" action="https://template-usmart.mysapo.net/contact" method="post")
        input(name="FormType" type="hidden" value="contact")
        input(name="utf8" type="hidden" value="true")
        .wrapform.form_order_car
          .section.title_.a-center
            h2
              | Đăng ký làm gia sư
            p.hidden-xs
              | Tạo tài khoản, cập nhật đầy đủ thông tin, và bạn sẽ nhận được tin nhắn thông báo mỗi khi có lớp phù hợp.
          .wrap_field.row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              input#Name1.form-control.form-control-lg(placeholder="Nhập họ tên của bạn" type="text" name="contact[Name]" value="" autocomplete="off" required="")
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              input#ContactEmail1.form-control.form-control-lg(placeholder="Địa chỉ email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" value="" name="contact[Email]" autocomplete="off" required="")
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              input#ContactPhone1.form-control.form-control-lg(placeholder="Số điện thoại" type="text" name="contact[Điện thoại]" pattern="\d+" autocomplete="off" value="" required="")
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              input.form-control.form-control-lg(type="password" placeholder="Mật khẩu" value="" name="password" required="")
            fieldset.hidden.form-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
              textarea#comment1.form-control.content-area.form-control-lg(placeholder="Nội dung" name="contact[body]" rows="5" required="") Mặc định
          .center_mahoa.center
            | Mật khẩu của bạn được mã hóa. Ngoại trừ bạn, không ai có thể biết được mật khẩu của bạn.
          .section.a-center
            button.btn.btn-primary.btn-lienhe(type="submit") Đăng ký làm gia sư ngay
    script.
      $(document).ready(function(){
      /*Modal thông báo thành công*/
      var test = $('.guilienhe_thanhcong_details').text();
      if (test != '') {
      $('.modal_sucsses').addClass('show');
      $('.opacity_menu').addClass('open_opacity');
      }
      });
    .form_thue
      span.closed_modal
        i.fas.fa-times
      form#contact(accept-charset="UTF-8" action="https://template-usmart.mysapo.net/contact" method="post")
        input(name="FormType" type="hidden" value="contact")
        input(name="utf8" type="hidden" value="true")
        .wrapform.form_order_car
          .section.title_.a-center
            h2
              | Đăng ký thuê gia sư
            p.hidden-xs
              | Sau khi bạn đăng ký, chúng tôi sẽ gọi lại cho bạn để trao đổi thêm những thông tin cần thiết khác. Tất cả thông tin của bạn sẽ được bảo mật.
          .wrap_field.row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .radiocheck.gioitinh.a-center
                .right
                  input#nam.radio(type="radio" name="contact[Giới tính]" value="Nam" checked="")
                  label(for="nam") Nam
                  input#nu.radio(type="radio" name="contact[Giới tính]" value="Nữ")
                  label(for="nu") Nữ
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              input#Name.form-control.form-control-lg(placeholder="Họ và tên" type="text" name="contact[Name]" value="" autocomplete="off" required="")
            .col-lg-6.col-md-6.col-sm-6.col-xs-12.hidden
              input#ContactEmail.form-control.form-control-lg(placeholder="Email*" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" value="email@gmail.com" name="contact[Email]" autocomplete="off" required="")
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              input#ContactPhone.form-control.form-control-lg(placeholder="Số điện thoại" type="text" name="contact[Điện thoại]" pattern="\d+" autocomplete="off" value="" required="")
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              input#Address.form-control.form-control-lg(placeholder="Số nhà, tên đường" type="text" name="contact[Địa chỉ]" autocomplete="off" value="" required="")
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              fieldset.form-group
                textarea#comment.form-control.content-area.form-control-lg(placeholder="Ghi chú" name="contact[body]" rows="2" required="")
          .section.a-center.margin-top-10
            button.btn.btn-primary.btn-lienhe Đăng ký thuê gia sư ngay
    script.
      $(document).ready(function(){
      /*Modal thông báo thành công*/
      var test = $('.guilienhe_thanhcong_details').text();
      if (test != '') {
      $('.modal_sucsses').addClass('show');
      $('.opacity_menu').addClass('open_opacity');
      }
      });
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .modal_sucsses
            .wrapmd
              span.closed_sussec
                i.fas.fa-times
              .title_module_main.a-center
                h2
                  span Gửi yêu cầu thành công
    script(type="text/javascript").
      WebFontConfig = {
      google: { families: [ 'Roboto:400,500,600,700', 'Prata:400' ] },
      };
      (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
    script(type="text/javascript").
      WebFontConfig = {
      custom: {
      families: ['FontAwesome'],
      urls: ['https://use.fontawesome.com/releases/v5.7.2/css/all.css']
      }
      };
      (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
      var resourcec = document.createElement('link');
      resourcec.setAttribute("rel", "stylesheet");
      resourcec.setAttribute("href","https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css");
      resourcec.setAttribute("type","text/css");
      var headc = document.getElementsByTagName('head')[0];
      headc.appendChild(resourcec);
    .zoomContainer(style="-webkit-transform: translateZ(0);position:absolute;left:104.5px;top:585px;height:398px;width:555px;")
      .zoomLens(style="background-position: 0px 0px;width: 388.5px;height: 462.79069767441865px;float: right;display: none;overflow: hidden;z-index: 999;-webkit-transform: translateZ(0);opacity:0.4;filter: alpha(opacity = 40); zoom:1;width:388.5px;height:462.79069767441865px;background-color:white;cursor:pointer;border: 1px solid #000;background-repeat: no-repeat;position: absolute;")  
      .zoomWindowContainer(style="width: 420px;")
        .zoomWindow(style='overflow: hidden; background-position: 0px 0px; text-align: center; background-color: rgb(255, 255, 255); width: 420px; height: 500px; float: left; background-size: 600px 430px; display: none; z-index: 100; border: 4px solid rgb(136, 136, 136); background-repeat: no-repeat; position: absolute; background-image: url("//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/16-a043d6f0-fc63-4d56-bf05-fa528e7f8a1f.png?v=1569547426333");')  
    .zoomContainer(style="-webkit-transform: translateZ(0);position:absolute;left:104.5px;top:585px;height:398px;width:555px;")
      .zoomLens(style="background-position: 0px 0px;width: 388.5px;height: 462.79069767441865px;float: right;display: none;overflow: hidden;z-index: 999;-webkit-transform: translateZ(0);opacity:0.4;filter: alpha(opacity = 40); zoom:1;width:388.5px;height:462.79069767441865px;background-color:white;cursor:pointer;border: 1px solid #000;background-repeat: no-repeat;position: absolute;")  
      .zoomWindowContainer(style="width: 420px;")
        .zoomWindow(style='overflow: hidden; background-position: 0px 0px; text-align: center; background-color: rgb(255, 255, 255); width: 420px; height: 500px; float: left; background-size: 600px 430px; display: none; z-index: 100; border: 4px solid rgb(136, 136, 136); background-repeat: no-repeat; position: absolute; background-image: url("//bizweb.dktcdn.net/thumb/1024x1024/100/367/008/products/16-a043d6f0-fc63-4d56-bf05-fa528e7f8a1f.png?v=1569547426333");')  
    iframe#nr-ext-rsicon(style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;" src="style/saved_resource.html")
    #eJOY__extension_root.eJOY__extension_root_class(style="all: unset;")
    div
      div(style="display:none")
        img(src="style/Logging")
