.menu_sc-2{
	background: #ebebeb;	
}
.menu_sc-ul{
	display: flex;
	list-style: none;
	margin-left: 90px;
	padding-left: 0px;
	width: 1035px;
	margin-top: 5px;
	padding-top: 5px;
}
.menu_sc-ul li span{
	color: blue;
}
.menu_sc-ul li a{
	color: black;
	font-weight: bold;

}
