doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Đăng Nhập
    // Font Icon
    link(rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css")
    // Main css
    link(rel="stylesheet" href="css/styledn.css")
    link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
  body
    .main
      if error
        .alert.alert-danger= error
      // Sign up form
      .container
        .row
          .col-lg-5.col-md-4.col-sm-4.col-xs-4
          .col-lg-3.col-md-4.col-sm-4.col-xs-4
            img.logo_img(src="images/logo.png")
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
      // Sing in  Form
      section.sign-in
        .container
          .signin-content
            .signin-image
              figure
                img(src="images/signin-image.jpg" alt="sing up image")
              a.signup-image-link(href="/dangky-t-k") Create an account
            .signin-form
              h2.form-title Log in
              form#login-form.register-form(name='frmlogin' action='/dang-nhap' method="POST" )
                .form-group
                  label()
                    i.zmdi.zmdi-account.material-icons-name
                  input#your_name(type='email' name ='email' placeholder='Nhập email' value=values ? values.email : "")
                .form-group
                  label()
                    i.zmdi.zmdi-lock
                  input#your_pass(type='password' name= 'password' placeholder='Nhập mật khẩu' value=values ? values.password : "")
                .form-group.form-button
                  // <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                  button.btn.btn-primary(type='submit')  Log in
              .social-login
                span.social-label Or login with
                ul.socials
                  li
                    a(href="#")
                      i.display-flex-center.zmdi.zmdi-facebook
                  li
                    a(href="#")
                      i.display-flex-center.zmdi.zmdi-twitter
                  li
                    a(href="#")
                      i.display-flex-center.zmdi.zmdi-google
    script(type="text/javascript" src="js/jquery-3.5.1.js")
    script(src="js/maindn.js")
