doctype html
html.wf-fontawesome-n4-active.wf-active(lang="vi")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title
      | Thầy Trò
      | Cu.BaQ
    // ================= Page description ==================
    meta(name="description" content="aa")
    // ================= Meta ==================
    meta(name="keywords" content="Giới thiệu")
    link(rel="canonical" href="#")
    meta(name="revisit-after" content="1 days")
    meta(name="robots" content="noodp,index,follow")
    // ================= Favicon ==================
    // <link rel="icon" href="https://bizweb.dktcdn.net/100/367/008/themes/737167/assets/favicon.png?1593482256319" type="image/x-icon">
    // ================= Google Fonts ==================
    // Facebook Open Graph meta tags
    meta(property="og:type" content="website")
    meta(property="og:title" content="Giới thiệu")
    meta(property="og:description" content="aa")
    meta(property="og:url" content="#")
    meta(property="og:site_name" content="Template Usmart")
    script(type="text/javascript" async="" src="style/productreviews.min.js.download")
    script(src="style/webfont.js.download" type="text/javascript" async="")
    script(src="style/webfont.js.download" type="text/javascript" async="")
    script(type="text/javascript" async="" src="style/367008.js.download")
    script(type="application/ld+json").
      {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement":
      [
      {
      "@type": "ListItem",
      "position": 1,
      "item":
      {
      "@id": "https://template-usmart.mysapo.net",
      "name": "Trang chủ"
      }
      },
      {
      "@type": "ListItem",
      "position": 2,
      "item":
      {
      "@id": "https://template-usmart.mysapo.net/gioi-thieu",
      "name": "Giới thiệu"
      }
      }
      ]
      }
    // Plugin CSS
    script.
      var template = 'page';
    // Plugin CSS
    link(href="style/plugin.scss.css" rel="stylesheet" type="text/css")
    // Build Main CSS
    link(href="style/base.scss.css" rel="stylesheet" type="text/css")
    link(href="style/style.scss.css" rel="stylesheet" type="text/css")
    link(href="style/module.scss.css" rel="stylesheet" type="text/css")
    link(href="style/responsive.scss.css" rel="stylesheet" type="text/css")
    // Bizweb javascript customer
    script.
      var Bizweb = Bizweb || {};
      Bizweb.store = 'template-usmart.mysapo.net';
      Bizweb.id = 367008;
      Bizweb.theme = { 'id': 737167, 'name': 'USmart 30062020 Footer', 'role': 'main' };
      Bizweb.template = 'page';
    script.
      (function () {
      function asyncLoad() {
      var urls = ["//productreviews.sapoapps.vn/assets/js/productreviews.min.js?store=template-usmart.mysapo.net"];
      for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
      }
      };
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
      })();
    script(type="text/javascript").
      (function () {
      var log = document.createElement('script'); log.type = 'text/javascript';
      log.async = true;
      log.src = '//stats.bizweb.vn/delivery/367008.js?lang=vi';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(log, s);
      })();
    script.
      window.BizwebAnalytics = window.BizwebAnalytics || {};
      window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
      window.BizwebAnalytics.meta.currency = 'VND';
      var meta = {};
      for (var attr in meta) {
      window.BizwebAnalytics.meta[attr] = meta[attr];
      }
    link(rel="stylesheet" href="style/all.css" media="all")
    link(rel="stylesheet" href="style/all.css" media="all")
    link(rel="stylesheet" href="style/ekko-lightbox.min.css" type="text/css")
    style(type="text/css").
      .fancybox-margin{margin-right:0px;}
    link(rel="stylesheet" type="text/css" href="style/bpr.min.css" media="all")
    link(rel="stylesheet" type="text/css" href="style/productReviews.min.css" media="all")
    script(type="text/javascript" src="style/vi.min.js.download")
  body
    .opacity_menu
    // Main content
    // Menu mobile
    #mySidenav.sidenav.menu_mobile.hidden-md.hidden-lg
      .top_menu_mobile
        a.logo-wrapper.close_menu(href="#")
          img(src="images/logo.png" alt="logo Template cubaQ")
      .content_memu_mb
        .link_list_mobile
          ul.ct-mobile.hidden
          ul.ct-mobile
            li.level0.level-top.parent.level_ico
              a(href="/") Trang chủ
            li.level0.level-top.parent.level_ico
              a(href="/gioithieu") Giới thiệu
            li.level0.level-top.parent.level_ico
              a(href="#") Thầy Trò
              i.ti-plus.hide_close
              ul.level0.sub-menu(style="display:none;")
                li.level1
                  a(href="/lichhen")
                    span Đăng Kí Gặp Mặt 
                li.level1
                  a(href="/thaytro")
                    span Học sinh hỏi thầy trả lời
            li.level0.level-top.parent.level_ico
              a(href="/ketnoidamme") Kết Nối Đam Mê
            li.level0.level-top.parent.level_ico
              a(href="/khoanhkhacdangnho") Khoảng khắc đáng nhớ
            li.level0.level-top.parent.level_ico
              a(href="/taikhoan") Tài Khoản
    // End
    // HEADER NEW
    header.header.header_s
      .mid-header
        .container
          .row
            .content_header
              .header-main
                .col-lg-3.col-md-3.center_logo
                  .logo.logo_centers
                    a.logo-wrapper(href="/")
                      img(src="images/logo.png" alt="logo Template Cu.BaQ")
                .col-lg-9.col-md-9
                  .topbar_header.f-right
                    ul.menu_list
                      li.li_menu
                        a.btn.btn-extra.btn_lam(href="/dangkyyeucau" title="Đăng ký yêu cầu") Đăng ký yêu cầu
                      li.li_menu
                        a.btn.btn-primary.btn_thue(href="/dangxuat" title="dang xuat") Đăng Xuất
                      li.li_menu
                        img(src="images/phone_header.png" alt="Template Usmart")
                        a.a_topright(href="tel:0966315546") 0966315546
        .menu_search_mobi.hidden-md.hidden-lg
          .menu-bar-h.nav-mobile-button.hidden-md.hidden-lg
            i.fas.fa-bars
          .search_mobile.showsearchfromtop.hidden-md.hidden-lg
            .search_button_mobile
              button.btn.icon-fallback-text
                span.fas.fa-search
          .searchboxlager.hidden-lg
            .searchfromtop
              form(action="" method="get" autocomplete="off")
                input#search.form-control(type="text" maxlength="70" name="query" placeholder="Nhập từ khóa tìm kiếm và ấn enter ...")
        .wrap_main.hidden-xs.hidden-sm
          .container
            .row
              .col-lg-10.col-md-10.col-sm-12.col-xs-12
                .bg-header-nav.hidden-xs.hidden-sm
                  div
                    .row.row-noGutter-2
                      nav.header-nav
                        ul.item_big
                          li.nav-item
                            a.a-img(href="/")
                              span Trang chủ
                          li.nav-item.active
                            a.a-img(href="/gioithieu")
                              span Giới thiệu
                          li.nav-item
                            a.a-img(href="")
                              span Thầy Trò
                              i.fa.fa-caret-down
                            ul.item_small.hidden-sm.hidden-xs
                              li
                                a(href="/dangkylichhen" title="") Đăng ký gặp mặt
                              li
                                a(href="/lichhen" title="") lịch hẹn
                              li
                                a(href="/thaytro" title="") Học sinh hỏi thầy trả lời 
                          li.nav-item
                            a.a-img(href="/ketnoidamme")
                              span Kết Nối Đam Mê
                          li.nav-item
                            a.a-img(href="/khoanhkhacdangnho")
                              span Khoảng Khắc Đáng Nhớ
                          li.nav-item
                            a.a-img(href="/taikhoan")
                              span Tài Khoản
              .col-lg-2.col-md-2.col-sm-12.col-xs-12
                .header_search.header_searchs.search_new.hidden-sm.hidden-xs
                  form.input-group.search-bar(action="#" method="get" role="search")
                    input(type="hidden" name="type" value="product")
                    input.input-group-field.st-default-search-input.search-text(type="search" name="query" value="" placeholder="Tìm kiếm")
                    span.input-group-btn
                      button.btn.icon-fallback-text
                        span.fas.fa-search
    // END HEADER NEW
    script(src="style/jquery.min.js.download" type="text/javascript")
    // Bizweb javascript
    script(src="style/option-selectors.js.download" type="text/javascript")
    script(src="style/api.jquery.js.download" type="text/javascript")
    script(src="style/search_filter.js.download" type="text/javascript")
    .breadcrumb_background
      .title_full
        .container.a-center
          p.title_page  Học Sinh Hỏi - Thầy Trả Lời
    section.bread-crumb.w_100.f-left
      span.crumb-border
      .container
        .row
          .col-xs-12.a-left
            ul.breadcrumb
              li.home
                a(href="/")
                  span Trang chủ
                span.mr_lr
                  i.fa.fa-angle-right
              li
                strong
                  span  Thầy Trò
                span.mr_lr
                  i.fa.fa-angle-right
              li
                strong
                  span  Học Sinh Hỏi - Thầy Trả Lời
    .container
        .row
            .col-lg-4
            .col-lg-8
                each hoidap in hoidaps
                    .product-box-s.product-box-2.product-box-col
                        .product-thumbnail.relative
                            a.a_img(href="#" title="Vật lý lớp 11")
                                img(src="images/noibat2.png" alt="Vật lý lớp 11")
                        .product-info
                            .infor_teacher
                                .author
                                    span.image_author
                                        img(src="images/feel_1.png" alt="Avatar giáo viên")
                                    .r_name
                                        span.name_author Nguyễn Tuấn Minh
                                        span.job_author Giáo viên cấp 3
                                h3.product-name
                                    a(href="#" title="Vật lý lớp 11")= hoidap.tieude
                                .price-box.clearfix
                                    .special-price
                                        span.price.product-price= hoidap.ghichu
                                .summary_grid
                                    .rte.description.text2line= hoidap.noidung
                                .product-action.clearfix
                                    form.variants.form-nut-grid(action="#" method="post" data-id="product-actions-15891413" enctype="multipart/form-data")
                                        div
                                            a.btn-circle.btn_view.btn.right-to.btn_base.btn_dkhoc.btn_thue(title="Đăng ký")
                                                | Trò chuyện
                                            a.btn-circle.btn_view.btn.right-to.btn_base(title="Xem chi tiết" onclick="window.location.href='/vat-ly-lop-11'")
                                                | Chi tiết
    .text-right
    #open-filters.open-filters.hidden-lg
      i.fa.fa-align-right
    footer.footer
      .container
        .row
          .col-lg-12.col-md-12
            .wp_footer
              .new-letter.a-center
                .col-lg-12.col-md-12.padding_
                  .letter-left.heading
                    h3 Nhập email
                    span Để nhận tin tức mới của chúng tôi
                  form#mc-embedded-subscribe-form(action="#" method="post" name="mc-embedded-subscribe-form" target="_blank")
                    .input-group
                      input#mail.form-control(type="email" autocomplete="off" value="" placeholder="Nhập email của bạn" name="EMAIL")
                      span.input-group-btn
                        button#subscribe.btn.btn-primary.button_gradient(name="subscribe" type="submit" title="Gửi ngay") Gửi ngay
              .mid-footer
                .col-lg-1.hidden-md.hidden-sm.hidden-xs
                .col-xs-12.col-sm-12.col-md-6.col-lg-4
                  .widget_left.widget_first_childs
                    .widget-ft-top
                      .hotline_footer
                        .logo_footer
                          a.logo-wrapper(href="#")
                            img(src="images/logo.png" alt="logo Template Usmart")
                        .hotline_footer
                          ul.contact.padding-0
                            li.li_footer_h
                              i.fas.fa-map-marker-alt
                              span.txt_content_childs
                                | Trường THPT Đồng Lộc
                            li.li_footer_h
                              span.txt_content_childs
                                i.fas.fa-phone
                                a(href="tel:0966315546") 0966315546
                            li.li_footer_h
                              span.txt_content_childs
                                i.fas.fa-envelope-open
                                a(href="mailto:awesome160916@gmail.com") Quocbaoa2k41@gmail.com
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .row
                    .widget_right
                      .col-xs-12.col-sm-6.col-md-6.col-lg-6
                        .widget-ft.first
                          h4.title-menu
                            a
                              | Dịch vụ của chúng tôi
                          div
                            ul.list-menu
                              li.li_menu
                                a(href="#") Trang chủ
                              li.li_menu
                                a(href="#") Giới thiệu
                              li.li_menu
                                a(href="#") Thầy - Trò
                              li.li_menu
                                a(href="#") Kết Nối Đam Mê
                              li.li_menu
                                a(href="#") Khoảng Khắc Đáng Nhớ
                              li.li_menu
                                a(href="#") Tài Khoản
                      .col-xs-12.col-sm-6.col-md-6.col-lg-6
                        .widget-ft
                          h4.title-menu
                            a
                              | Về chúng tôi
                          div
                            ul.list-menu
                              li.li_menu
                                a(href="#") Trang chủ
                              li.li_menu
                                a(href="#") Giới thiệu
                              li.li_menu
                                a(href="#") Thầy - Trò
                              li.li_menu
                                a(href="#") Kết Nối Đam Mê
                              li.li_menu
                                a(href="#") Khoảng Khắc Đáng Nhớ
                              li.li_menu
                                a(href="#") Tài Khoản
                .col-lg-1.hidden-md.hidden-sm.hidden-xs
      .row
        .container
          .bg-footer-bottom.copyright.col-lg-12.col-md-12.col-sm-12.col-xs-12
            .inner
              #copyright.fot_copyright.a-left
                span.wsp
                  | © Bản quyền thuộc về 
                  b Đặng Quốc Bảo
                  span.hidden-xs  | 
                  span.mobile
                    | Cựu học sinh 
                    a(href="#" rel="nofollow" title="Sapo" target="_blank") THPT Đồng Lộc
              a#back-to-top.backtop(href="#" title="Lên đầu trang")
                | Lên đầu trang 
                i.fas.fa-chevron-up
    script(type="text/javascript").
      WebFontConfig = {
      google: { families: [ 'Roboto:400,500,600,700', 'Prata:400' ] },
      };
      (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
    script(type="text/javascript").
      WebFontConfig = {
      custom: {
      families: ['FontAwesome'],
      urls: ['https://use.fontawesome.com/releases/v5.7.2/css/all.css']
      }
      };
      (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
      var resourcec = document.createElement('link');
      resourcec.setAttribute("rel", "stylesheet");
      resourcec.setAttribute("href","https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css");
      resourcec.setAttribute("type","text/css");
      var headc = document.getElementsByTagName('head')[0];
      headc.appendChild(resourcec);
    div
      div(style="display:none")
        img(src="style/Logging")
